body {
    margin: 0;
    padding-bottom: 0rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #333;
}

    #salon {
        background: rgba(0, 0, 0, 1);
        position: fixed;
        height: 85%;
        width: 15%;
        opacity: 70%;
        border-radius: 2rem;
        left: 0.5%;
        bottom: 5%;

    }
    .button-user {
      background-color: #c2fbd7;
      border-radius: 100px;
      box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
      color: green;
      cursor: pointer;
      display: inline-block;
      font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-bottom: 0.5rem;
    }

    .button-user:hover {
      box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
      transform: scale(1.05) rotate(-1deg);
    }
    #salon h3{
        z-index: 40;
        color: rgb(255, 255, 255);
        left: 15%;
        position: absolute;
  }
  #salon-en-cours{
    background-color:black;
    width:99%;
    text-align:center;
    position:fixed;
    z-index:50;
    color:white;
    height:4%;
    padding-top: 1%;
    border-radius: 30px;
    left:0.5%;

  }
  #utilisateurs {
    color: white;
    position: fixed;
    top: 2.5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    max-width: 50%;
    position: relative;
    color: white;
    font-size:1rem;
    word-wrap: break-word;
    left: 0.3rem;
    list-style-type:none;
    margin-bottom:1rem;
  }
  #form {
    background: rgba(0, 0, 0, 1);
    padding: 0.25rem;
    position: fixed;
    bottom: -1rem;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
}
    #input {
    border: none;
    padding:0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    background-color: rgb(98, 98, 98);
    color:white;
    }

    #input:focus {
    outline: none;
    }

    #form > button {
    background: #333;
    border: none;
    padding:0.1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    }
    #messages {
        list-style-type: none;
        margin: 0;

        padding: 0;
        color:white;
        max-height:80%;
        overflow-y: auto; /* Ajout de la propriété overflow-y */
    }

    #messages > li {
      margin-top:2%;
        margin-bottom: 1.8rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        max-width: 40%;
        position: relative;
        background:#888888;
        color:white;
        word-wrap: break-word;
        left:17.5rem;
        top:1.2rem;
        box-shadow: 0 0 5px rgb(116, 116, 116);
    }

    #messages > li:nth-child(odd) {
        background: #444;

      }


    #messages > li::after {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        left: 1rem;
        border-style: solid;
        border-width: 0.5rem 0.5rem 0;
        border-color: #464646 transparent transparent;
        left:20%;
    }

    #num-utilisateurs{
        background: white;
        color:white;
        padding: 0.01rem;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        height: 10px;
        backdrop-filter: blur (10px);
    }
