body {
    margin: 0;
    padding-bottom: 0rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #333;
}

    #salon {
        background: rgba(0, 0, 0, 1);
        position: fixed;
        height: 92%;
        width: 15%;
        opacity: 70%;
        border-radius: 2rem;
        left: 0.5%;
        bottom: 7%;
    }

    #salon h3{
        z-index: 40;
        color: rgb(255, 255, 255);
        left: 15%;
        position: absolute;
  }
  #utilisateurs {
    color: white;
    position: fixed;
    top: 2.5rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    max-width: 50%;
    position: relative;
    background: #2f9d705c;
    color: white;
    font-size:1rem;
    word-wrap: break-word;
    left: 1rem;
    list-style-type:none;
  }
  #form {
    background: rgba(0, 0, 0, 1);
    padding: 0.25rem;
    position: fixed;
    bottom: -1rem;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
}
    #input {
    border: none;
    padding:0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    background-color: rgb(98, 98, 98);
    color:white;
    }

    #input:focus {
    outline: none;
    }

    #form > button {
    background: #333;
    border: none;
    padding:0.1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    }
    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color:white;
        max-height:80%;
        overflow-y: auto; /* Ajout de la propriété overflow-y */
    }

    #messages > li {
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        max-width: 50%;
        position: relative;
        background:#888888;
        color:white;
        word-wrap: break-word;
        left:17.5rem;
        top:0.625rem;
    }

    #messages > li:nth-child(odd) {
        background: #444;

      }


    #messages > li::after {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        left: 1rem;
        border-style: solid;
        border-width: 0.5rem 0.5rem 0;
        border-color: #464646 transparent transparent;
        left:20%;
    }

    #num-utilisateurs{
        background: white;
        color:white;
        padding: 0.01rem;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        height: 10px;
        backdrop-filter: blur (10px);
    }
