/* Styles pour la boîte de connexion */
.login-box {
  width: 320px;
  background: #fff;
  color: #333;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
}

/* Styles pour le titre */
.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
}

/* Styles pour les zones de saisie utilisateur */
.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  background: transparent;
}

/* Styles pour les libellés des zones de saisie utilisateur */
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  pointer-events: none;
  transition: 0.5s;
}

/* Styles pour les libellés des zones de saisie utilisateur lorsque l'utilisateur clique dessus */
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #e67e22;
  font-size: 12px;
}

/* Styles pour le bouton de soumission */
.login-box button[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background: #e67e22;
  color: #fff;
}
